[Desktop Entry]
Version=1.0
Name=Clock
Name[aa]=Uddur
Name[am]=ሰአት
Name[ar]=الساعة
Name[ast]=Reló
Name[az]=Saat
Name[be]=Гадзіннік
Name[bg]=Часовник
Name[br]=Eurier
Name[bs]=Sat
Name[ca]=Rellotge
Name[ca@valencia]=Rellotge
Name[cs]=Hodiny
Name[cy]=Cloc
Name[da]=Ur
Name[de]=Uhr
Name[el]=Ρολόι
Name[en_AU]=Clock
Name[en_GB]=Clock
Name[eo]=Horloĝo
Name[es]=Reloj
Name[eu]=Erlojua
Name[fa]=ساعت‌
Name[fi]=Kello
Name[fr]=Horloge
Name[fr_CA]=Horloge
Name[gd]=Cleoc
Name[gl]=Reloxo
Name[he]=שעון
Name[hu]=Óra
Name[id]=Jam
Name[it]=Orologio
Name[ja]=時計
Name[km]=នាឡិកា
Name[kn]=ಗಡಿಯಾರ
Name[ko]=시계
Name[ku]=Demjimêr
Name[lt]=Laikrodis
Name[lv]=Pulkstenis
Name[ms]=Jam
Name[my]=နာရီ
Name[nb]=Klokke
Name[nl]=Klok
Name[oc]=Relòtge
Name[pa]=ਘੜੀ
Name[pl]=Zegar
Name[pt]=Relógio
Name[pt_BR]=Relógio
Name[ro]=Ceas
Name[ru]=Часы
Name[sc]=Rellògiu
Name[shn]=ဢွမ်မူင်း
Name[sk]=Hodiny
Name[sl]=Ura
Name[sq]=Ora
Name[sr]=Часовник
Name[sv]=Klocka
Name[ta]=கடிகாரம்
Name[th]=นาฬิกา
Name[tr]=Saat
Name[ug]=سائەت
Name[uk]=Годинник
Name[zh_CN]=时钟
Name[zh_Hant_HK]=時鐘
Name[zh_TW]=時鐘
Comment=A sophisticated clock app providing world clock, alarm, stopwatch and timer functionality.
Keywords=time;alarm;alert;clock;world;stopwatch;
Keywords[am]=ሰአት;መቀስቀሻ;ማስጠንቀቂያ;የ አለም ሰአት;ሰአት ማስቆሚያ;
Keywords[ar]=الزمن;المنبه;الانذار;الساعة;العالم;ساعة التوقف;
Keywords[ast]=hora;alarma;alerta;reló;mundial;cronómetru;
Keywords[be]=час;будзільнік;паведамленне;гадзіннік;сусветны;секундамер;
Keywords[br]=eur,alarm;diwall;horolaj;bed;kronometr;
Keywords[bs]=vrijeme;alarm;uzbuna;sat;svijetski;štoperica;
Keywords[ca]=hora;alarma;alerta;rellotge;món;cronòmetre;
Keywords[cs]=čas;budík;upozornění;hodiny;svět;stopky;
Keywords[cy]=amser;larwm;rhybudd;cloc;byd;watshamseru;
Keywords[da]=tid;alarm;advarsel;ur;verden;stopur;
Keywords[de]=Zeit;Wecker;Alarm;Uhr;Welt;Stoppuhr;
Keywords[el]=χρόνος;ξυπνητήρι;ειδοποίηση;ρολόι;κόσμος;χρονόμετρο;
Keywords[en_AU]=time;alarm;alert;clock;world;stopwatch;
Keywords[en_GB]=time;alarm;alert;clock;world;stopwatch;
Keywords[eo]=horo;alarmo,atentilo;kronografo;
Keywords[es]=hora;alarma;alerta;reloj;mundial;cronómetro;
Keywords[eu]=ordua;alarma;alerta;erlojua;mundiala;kronometroa;
Keywords[fa]=time;alarm;alert;clock;world;stopwatch;
Keywords[fi]=time;alarm;alert;clock;world;stopwatch;aika;hälytys;herätys;kello;sekuntikello;
Keywords[fr]=heure;alarme;alerte;horloge;monde;chronomètre;
Keywords[fr_CA]=heure;alarme;alerte;horloge;monde;mondiale;chronomètre;
Keywords[gd]=time;alarm;alert;clock;world;stopwatch;ùine;àm;uair;caismeachd;dùsgadh;saoghal;stad-uaireadair;
Keywords[gl]=hora;alarma;alerta;reloxo;mundo;cronómetro;
Keywords[he]=זמן;התרעות;שעון;עולם;שעון עצר;
Keywords[hu]=idő;ébresztés;riasztás;óra;világ;stopper;
Keywords[id]=time;alarm;alert;clock;world;stopwatch;
Keywords[it]=ora;sveglia;allarme;avviso;orologio;cronometro;mondo;
Keywords[ku]=dem;alarm;hişyarî;demjimêr;cîhan;kronometre
Keywords[lv]=laiks;trauksme;atgādinājums;pulkstenis;pasaule;hronometrs;
Keywords[ms]=waktu;penggera;amaran;jam;duni;jamrandik;
Keywords[my]=time;alarm;alert;clock;world;stopwatch;
Keywords[nb]=tid;alarm;varsel;klokke;verden;stoppeklokke;
Keywords[nl]=tijd;alarm;melding;klok;wereld;stopwatch;
Keywords[oc]=ora;alarma;alèrta;relòtge;monde;cronomètre;
Keywords[pl]=czas;alarm;budzik;alert;zegar;świat;stoper;
Keywords[pt]=tempo;alarme;alerta;relógio;mundo;cronómetro;
Keywords[pt_BR]=tempo;alarme;alerta;relógio;mundo;cronômetro;
Keywords[ro]=timp;alarmă;alarma;alertă;alerta;ceas;cronometru;lume;
Keywords[ru]=время;будильник;уведомление;часы;мировое;секундомер;
Keywords[sc]=ora;ispertadore;avisu;rellògiu;mundu;cronòmetru;
Keywords[sk]=čas;budík;výstraha;hodiny;svet;stopky;
Keywords[sl]=čas;alarm;bujenje;ura;svetovni;štoparica;
Keywords[sq]=kohë;alarm;alarm;clock;bota;kronometër;
Keywords[sr]=време;будилник;упозорење;часовник;свет;штоперица;
Keywords[sv]=tid;alarm;varning;klocka;värld;tidtagning;
Keywords[tr]=zaman;alarm;uyarı;saat;dünya;kronometre;
Keywords[uk]=time;alarm;alert;clock;world;stopwatch;час;нагадування;будильник;дзвінок;годинник;світ;секундомір;
Keywords[zh_CN]=time;alarm;alert;clock;world;stopwatch; 时间;闹铃;闹钟;世界时;秒表;
Keywords[zh_TW]=時間;鬧鐘;鬧鈴;時鐘;世界;碼表;
Exec=qmlscene $@ share/qml/ubuntu-clock-app.qml
Icon=clock-app.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Color=#111111
X-Ubuntu-Supported-Orientations=portrait
