[Desktop Entry]
Version=1.0
Name=Morph Browser
Name[ca]=Navegador Morph
Name[cs]=Prohlížeč Morph
Name[de]=Morph Browser
Name[es]=Navegador Morph
Name[fi]=Morph selain
Name[fr]=Navigateur
Name[it]=Morph Browser
Name[lt]=Morph naršyklė
Name[nb]=Morph nettleser
Name[nl]=Morph Browser
Name[pl]=Przeglądarka internetowa
Name[pt]=Morph Browser
Name[pt_BR]=Navegador Morph
Name[sc]=Navigadore Morph
Name[sk]=Prehliadač Morph
Name[zh_CN]=Morph 浏览器
Name[zh_TW]=Morph 瀏覽器
GenericName=Morph Web Browser
GenericName[ca]=Navegador web Morph
GenericName[cs]=Webový prohlížeč Morph
GenericName[de]=Morph Web-Browser
GenericName[es]=Navegador web Morph
GenericName[fi]=Morph- verkkoselain
GenericName[fr]=Navigateur internet Morph
GenericName[lt]=Morph saityno naršyklė
GenericName[nb]=Morph nettleser
GenericName[nl]=Morph Webbrowser
GenericName[pl]=Przeglądarka internetowa
GenericName[pt]=Morph Web Browser
GenericName[pt_BR]=Morph Navegador Web
GenericName[sc]=Navigadore web Morph
GenericName[sk]=Webový prehliadač Morph
GenericName[zh_CN]=Morph网页浏览器
GenericName[zh_TW]=Morph 網頁瀏覽器
Comment=Browse the World Wide Web using QtWebEngine
Comment[ca]=Navegueu per la web fent servir el QtWebEngine
Comment[cs]=Brouzdejte po Internetu s QtWebEngine
Comment[de]=Im World Wide Web mit der QtWebEngine surfen
Comment[es]=Navegue por Internet usando «QtWebEngine»
Comment[fi]=Selaa Internetin WWW-sivuja käyttäen QTWebEngine:ä
Comment[fr]=Naviguez sur internet à l'aide de QtWebEngine
Comment[it]=Esplora il World Wide Web usando QtWebEngine
Comment[lt]=Naršyti saityną naudojant QtWebEngine
Comment[nb]=Surf på nettet med QtWebEngine
Comment[nl]=Surfen op internet met QtWebEngine
Comment[pl]=Przeglądaj sieć WWW za pomocą QtWebEngine
Comment[pt]=Navegue na World Wide Web utilizando o QtWebEngine
Comment[pt_BR]=Navegue na internet usando QtWebEngine
Comment[sc]=Nàviga in sa web cun QtWebEngine
Comment[sk]=Prehliadajte internet s <<QtWebEngine>>
Comment[zh_CN]=使用QtWebEngine浏览互联网
Comment[zh_TW]=使用 QtWebEngine 瀏覽網際網路
Keywords=Internet;WWW;Browser;Web;Explorer
Keywords[aa]=Interneeti;WWW;Fokkaaqe;Web;Explorer
Keywords[am]=ኢንተርኔት;WWW;መቃኛ;ዌብ;መቃኛ
Keywords[ar]=إنترنت;انترنت;تصفح;متصفح;وب;ويب;مستعرض;مستكشف
Keywords[be]=Інтэрнэт;WWW;Браўзер;Веб;Праваднік
Keywords[br]=Internet;WWW;Merdeer;Web;Ergerzher
Keywords[bs]=Internet;WWW;Preglednik;Web;Pretraživač
Keywords[ca]=Internet;WWW;Navegador;Web;Explorer
Keywords[ca@valencia]=Internet;WWW;Navegador;Web;Explorer
Keywords[cs]=Internet;WWW;Prohlížeč;Web;Explorer
Keywords[cy]=Rhyngrwyd;WWW;Porwr;Gwe;Fforiwr
Keywords[da]=Internet;nettet;WWW;Browser;netlæser;Web;Explorer;stifinder
Keywords[de]=Internet;WWW;Browser;Netz;Web;Webbrowser;Navigator;Explorer
Keywords[el]=Διαδίκτυο;WWW;Περιηγητής;Ιστός;Εξερευνητής
Keywords[en_AU]=Internet;WWW;Browser;Web;Explorer
Keywords[en_GB]=Internet;WWW;Browser;Web;Explorer
Keywords[es]=Internet;WWW;Navegador;Web;Explorador
Keywords[eu]=Internet;WWW;Nabigatzailea;Weba;Arakatzailea
Keywords[fa]=اینترنت;وب‌جهان‌گستر;مرورگر;وب;کاوشگر
Keywords[fi]=Internet;WWW;Browser;Web;Explorer;netti;selain;verkko
Keywords[fr]=Internet;WWW;Navigateur;Web;Explorateur
Keywords[fr_CA]=Internet;WWW;Navigateur;Web;Fureteur
Keywords[gd]=Internet;WWW;Browser;Web;Explorer;eadar-lìon;Lìon;Brabhsair;Taisgealaiche;Sealladair
Keywords[gl]=Internet;www;Navegador;Web;Explorador
Keywords[he]=אינטרנט;רשת;דפדפן;מרשתת;נווט;סייר
Keywords[hr]=Internet;WWW;Preglednik;Web;Istraživač
Keywords[hu]=Internet;WWW;Böngésző;Web
Keywords[ia]=Internet;WWW;Navigator;Web;Explorer
Keywords[id]=Internet;WWW;Peramban;Web;Explorer
Keywords[it]=Internet;WWW;Browser;Web;Explorer:Esplora
Keywords[ja]=Internet;WWW;Browser;Web;Explorer;インターネット;ブラウザー;ウェブ;エクスプローラー
Keywords[km]=Internet;WWW;Browser;Web;Explorer
Keywords[ko]=Internet;인터넷;WWW;Browser;브라우저;Web;Explorer;익스플로러
Keywords[lt]=Internetas;WWW;Naršyklė;Narsykle;Saitynas;Žiniatinklis;Ziniatinklis
Keywords[lv]=Internets;WWW;pārlūks;tīmeklis;
Keywords[ms]=Internet;WWW;Pelayar;Sesawang;Explorer
Keywords[nb]=Internett;WWW;Nettleser;Web;Utforsker
Keywords[ne]=इन्टरनेट;WWW; ब्राउजर; वेब; एक्सप्लोरर
Keywords[nl]=Internet;WWW;Browser;Web;Explorer
Keywords[oc]=Internet;WWW;Navigador;Web;Explorador
Keywords[pa]=ਇੰਟਰਨੈੱਟ;WWW;ਬਰਾਊਜ਼ਰ;ਵੈੱਬ;ਅੈਕਸਪਲੋਰਰ
Keywords[pl]=Internet;WWW;Przeglądarka;Sieć
Keywords[pt]=Internet;WWW;Browser;Web;Explorador
Keywords[pt_BR]=Internet;WWW;Navegador;Web;Explorer
Keywords[ro]=Internet;WWW;Browser;Web;Explorer;Navigator
Keywords[ru]=Интернет;WWW;Браузер;Веб;Обозреватель
Keywords[sc]=Internet;WWW;Navigadore;Web;Esploradore;Esplora
Keywords[sk]=Internet;WWW;Prehliadač;Web;Explorer
Keywords[sl]=Internet;WWW;Brskalnik;Splet;Explorer
Keywords[sq]=Internet;WWW;Browser;Web;Explorer
Keywords[sr]=интернет;прегледник;веб;претраживач;WWW
Keywords[sv]=Internet;WWW;Webbläsare;Webb;Explorer
Keywords[th]=Internet;WWW;Browser;Web;Explorer;อินเทอร์เน็ต;เบราว์เซอร์;เว็บ;ตัวสำรวจ;
Keywords[tr]=İnternet;WWW;Tarayıcı;Web;Explorer;Gezgin;internet;Ağ
Keywords[ug]=ئىنتېرنېت;WWW;توركۆرگۈ;تور;كۆرگۈ
Keywords[uk]=Internet;WWW;Browser;Web;Explorer;інтернет;браузер;мережа;переглядач;веб
Keywords[zh_CN]=互联网；WWW；浏览器；
Keywords[zh_TW]=網際網路;WWW;瀏覽器;網頁;瀏覽
Type=Application
Icon=/usr/share/morph-browser/morph-browser.png
Exec=morph-browser %u
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
X-Ubuntu-Touch=true
X-Ubuntu-Gettext-Domain=morph-browser
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=web-browsers
X-Screenshot=/usr/share/morph-browser/screenshot.png
X-Ubuntu-Splash-Color=#FFFFFF
Actions=new-window;Incognito;

[Desktop Action new-window]
Name=New Window
Name[am]=አዲስ መስኮት
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[de]=Neues Fenster
Name[en_GB]=New Window
Name[es]=Nueva ventana
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[gl]=Nova xanela
Name[hr]=Novi prozor
Name[it]=Nuova finestra
Name[lt]=Naujas langas
Name[ms]=Tetingkap Baharu
Name[nb]=Nytt vindu
Name[nl]=Nieuw Venster
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova Janela
Name[ru]=Новое окно
Name[sc]=Ventana noa
Name[sk]=Nové okno
Name[sv]=Nytt fönster
Name[zh_CN]=新建窗口
Name[zh_TW]=新視窗
Exec=morph-browser --new-window

[Desktop Action Incognito]
Name=New Private Window
Name[am]=አዲስ የ ግል መስኮት
Name[ca]=Finestra privada nova
Name[cs]=Nové anonymní okno
Name[de]=Neues privates Fenster
Name[en_GB]=New Private Window
Name[es]=Nueva ventana privada
Name[fi]=Uusi yksityinen ikkuna
Name[fr]=Nouvelle fenêtre de navigation privée
Name[gl]=Nova xanela privada
Name[hr]=Novi privatni prozor
Name[it]=Nuova finestra navigazione privata
Name[lt]=Naujas privatus langas
Name[ms]=Tetingkap Persendirian Baharu
Name[nb]=Nytt privat vindu
Name[nl]=Nieuw Privévenster
Name[pl]=Nowe prywatne okno
Name[pt]=Nova janela privada
Name[pt_BR]=Nova Janela Privativa
Name[ru]=Новое приватное окно
Name[sc]=Ventana privada noa
Name[sk]=Nové súkromné okno
Name[sv]=Nytt privat fönster
Name[zh_CN]=新建隐私窗口
Name[zh_TW]=新無痕式視窗
Exec=morph-browser --incognito
