[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=qmlscene %u app/ubuntu-weather-app.qml
Icon=app/weather-app.svg
Name=Weather
Name[aa]=Deesaasa
Name[am]=የ አየር ንብረት
Name[ar]=الطقس
Name[be]=Надвор’е
Name[br]=Amzer
Name[bs]=Vrijeme
Name[ca]=El temps
Name[cs]=Počasí
Name[cy]=Tywydd
Name[da]=Vejr
Name[de]=Wetter
Name[el]=Καιρός
Name[en_AU]=Weather
Name[en_GB]=Weather
Name[eo]=Vetero
Name[es]=Tiempo
Name[eu]=Eguraldia
Name[fa]=آب و هوا
Name[fi]=Sää
Name[fo]=Veðrið
Name[fr]=Météo
Name[fr_CA]=Météo
Name[gd]=An aimsir
Name[gl]=O Tempo
Name[he]=מזג אוויר
Name[hr]=Vrijeme
Name[hu]=Időjárás
Name[id]=Cuaca
Name[it]=Meteo
Name[ja]=天気
Name[ko]=날씨
Name[lt]=Orai
Name[lv]=Laikapstākļi
Name[my]=ရာသီဥတု
Name[nb]=Vær
Name[nl]=Weer
Name[oc]=Metèo
Name[pl]=Pogoda
Name[pt]=Meteorologia
Name[ro]=Vremea
Name[ru]=Погода
Name[sc]=Meteo
Name[shn]=ၾိင်ႈၾႃ့
Name[sk]=Počasie
Name[sl]=Vreme
Name[sq]=Moti
Name[sr]=Време
Name[sv]=Väder
Name[ta]=வானிலை
Name[te]=వాతావరణం
Name[tr]=Hava Durumu
Name[ug]=ھاۋا رايى
Name[uk]=Погода
Name[uz]=Ob-havo
Name[vi]=Thời tiết
Name[zh_CN]=天气
Name[zh_Hant_HK]=天氣
Name[zh_TW]=天氣
Comment=A weather forecast application for Ubuntu Touch
Comment[ca]=Aplicació de predicció del temps per l'Ubuntu Touch
Comment[cs]=Aplikace předpovědi počasí pro Ubuntu Touch
Comment[de]=Eine Wettervorhersage-App für Ubuntu Touch
Comment[es]=Una aplicación de pronóstico del tiempo para Ubuntu Touch
Comment[fi]=Sääennustesovellus Ubuntu Touchille
Comment[fr]=Une application de prévisions météorologiques pour Ubuntu Touch
Comment[gl]=Unha aplicación de previsión meteorolóxica pra Ubuntu Touch
Comment[he]=יישומון תחזית מזג אוויר לאובונטו טאצ'
Comment[it]=Applicazione di previsioni meteo per Ubuntu Touch
Comment[ja]=Ubuntu Touch 用天気予報アプリ
Comment[lt]=Orų prognozių programėlė, skirta Ubuntu Touch
Comment[nb]=Et værvarslingsprogram for Ubuntu Touch
Comment[nl]=Een weervoorspellingsapp voor Ubuntu Touch
Comment[pl]=Aplikacja prognozy pogody dla Ubuntu Touch
Comment[pt]=Uma app de meteorologia para o Ubuntu Touch
Comment[ru]=Приложение с прогнозом погоды для Ubuntu Touch
Comment[sc]=Un'aplicatzione de previsione meteorològica pro Ubuntu Touch
Comment[sk]=Aplikácia na predpoveď počasia pre Ubuntu Touch
Comment[zh_CN]=用于Ubuntu Touch的天气预报应用
Comment[zh_Hant_HK]=Ubuntu Touch 嘅天氣預報桯式
Comment[zh_TW]=Ubuntu Touch 的天氣預報桯式
Keywords=weather;forecast;openweathermap;sunrise;sunset;moonphase,humidity;wind;
Keywords[ca]=el temps;predicció metereològica;meteorologia;openweathermap;sortida del sol;posta de sol;fase lunars;humitat;vent;
Keywords[cs]=počasí;předpověď;openweathermap;východ slunce;západ slunce;měsíční fáze;vlhkost;vítr;
Keywords[de]=Wetter;Vorhersage;openweathermap;Sonnenaufgang;Sonnenuntergang;Mondphase;Feuchtigkeit;Wind;
Keywords[es]=clima;pronóstico;openweathermap;salida del sol;puesta de sol;fase lunar;humedad;viento;
Keywords[fi]=sää;ennuste;openweathermap;auringonnousu;auringonlasku;kuutila;kosteus;tuuli;
Keywords[fr]=météo;temps;prévisions;openweathermap;lever du soleil;coucher du soleil;phase de la lune;humidité;vent;
Keywords[gl]=tempo;previsión;openweathermap;abrente;solpor;fase da lúa;humidade;vento;
Keywords[he]=מזג אוויר;תחזית;ערוץ מזג האוויר;מזג אוויר פתוח;רוח;לחות;שקיעה;מופע ירח;זריחה;
Keywords[it]=meteo;previsioni;openweathermap;alba;tramonto;fase lunare;vento;
Keywords[ja]=天気;予報;openweathermap;日の出;日の入り;月齢,湿度;風;
Keywords[lt]=oras;orai;prognozė;prognozės;prognoze;prognozes;openweathermap;saulėtekis;sauletekis;saulėlydis;saulelydis;mėnulio fazė;menulio faze;drėgnumas;dregnumas;vėjas;vejas;
Keywords[nb]=vær;værmelding;openweathermap;soloppgang;solnedgang;månefase;fuktighet;vind;
Keywords[nl]=weer;voorspelling;openweathermap;zonsopgang;zonsondergang;maanfase,luchtvochtigheid;wind;
Keywords[pl]=pogoda;prognoza;openweathermap;wschód słońca;zachód słońca;faza księżyca;wilgotność;wiatr;
Keywords[pt]=meteorologia;previsão;openweathermap;pordosol;humidade;vento;
Keywords[ru]=погода;прогноз;карта погоды;восход;закат;фаза Луны;влажность;ветер;
Keywords[sc]=meteo;previsione;openweathermap;arbèschida;iscurigadorzu;fase lunare;umidade;bentu;
Keywords[sk]=počasie;predpoveď;openweathermap; východ slnka;zapad slnka; mesačná faza; vlhkosť;vietor;
Keywords[zh_CN]=天气;预报;开源气象服务;日出;日落;月相;适度;风速;
Keywords[zh_Hant_HK]=天氣;預報;Open Weather Map;日出;日落;月相; 濕度;風;
Keywords[zh_TW]=天氣;預報;Open Weather Map;日出;日落;月相; 濕度;風;
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Splash-Color=#0b7de7
X-Ubuntu-Splash-Show-Header=false
X-Ubuntu-Splash-Image=app/weather-app-splash.svg
