[D-BUS Service]
Name=org.gnome.zeitgeist.Engine
Exec=/bin/sh -c "/usr/lib/arm-linux-gnueabihf/zeitgeist/zeitgeist-maybe-vacuum; /usr/bin/zeitgeist-daemon"
