<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>The urfkill Project</vendor>

  <action id="org.freedesktop.urfkill.block">
    <description>Block a specific killswitch type</description>
    <message>Authentication is required to set block on the killswitches by type</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.urfkill.blockidx">
    <description>Block a specific killswitch</description>
    <message>Authentication is required to set block on the killswitch</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.urfkill.flight_mode">
    <description>Enable flight mode</description>
    <message>Authentication is required to enable/disable flight mode</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>


</policyconfig>