[Desktop Entry]
Name=UBports
Name[ar]=UBports
Name[ca]=UBports
Name[cs]=UBports
Name[da]=UBports
Name[de]=UBports
Name[es]=UBports
Name[fi]=UBports
Name[fr]=UBports
Name[he]=UBports
Name[id]=UBports
Name[it]=UBports
Name[nb]=UBports
Name[nl]=UBports
Name[pl]=UBports
Name[pt]=UBports
Name[ro]=UBports
Name[ru]=UBports
Name[sc]=UBports
Name[sk]=UBports
Name[sq]=UBports
Name[tr]=UBports
Name[ug]=UBports
Name[zh_CN]=UBports
Name[zh_Hant]=UBports
Exec=qmlscene qml/Main.qml
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
