[D-BUS Service]
Name=com.canonical.UserMetrics
Exec=/usr/lib/arm-linux-gnueabihf/libusermetrics/usermetricsservice
User=usermetrics
StandardOutput=syslog
