[Desktop Entry]
Name=Music
Name[am]=ሙዚቃ
Name[ar]=موسيقى
Name[az]=Musiqi
Name[be]=Музыка
Name[bg]=Музика
Name[br]=Sonerezh
Name[bs]=Muzika
Name[ca]=Música
Name[ca@valencia]=Música
Name[cs]=Hudba
Name[cy]=Cerddoriaeth
Name[da]=Musik
Name[de]=Musik
Name[el]=Μουσική
Name[en_AU]=Music
Name[en_GB]=Music
Name[eo]=Muziko
Name[es]=Música
Name[eu]=Musika
Name[fa]=آهنگ
Name[fi]=Musiikki
Name[fo]=Tónleikur
Name[fr]=Musique
Name[fr_CA]=Musique
Name[gd]=Ceòl
Name[gl]=Música
Name[he]=מוזיקה
Name[hr]=Glazba
Name[hu]=Zene
Name[id]=Musik
Name[is]=Tónlist
Name[it]=Musica
Name[ja]=音楽
Name[km]=តន្ត្រី
Name[kn]=ಸಂಗೀತ
Name[ko]=음악
Name[ku]=Muzîk
Name[lt]=Muzika
Name[lv]=Mūzika
Name[ms]=Muzik
Name[my]=ဂီတ
Name[nb]=Musikk
Name[nl]=Muziek
Name[pa]=ਸੰਗੀਤ
Name[pl]=Muzyka
Name[pt]=Música
Name[pt_BR]=Música
Name[ro]=Muzică
Name[ru]=Музыка
Name[sc]=Mùsica
Name[sk]=Hudba
Name[sl]=Glasba
Name[sq]=Muzikë
Name[sr]=Музика
Name[st]=Mmino
Name[sv]=Musik
Name[ta]=இசை
Name[te]=సంగీతం
Name[tr]=Müzik
Name[ug]=مۇزىكا
Name[uk]=Музика
Name[zh_CN]=音乐
Name[zh_HK]=音樂
Name[zh_TW]=音樂
Comment=A music application for Ubuntu
Comment[am]=ለ ኡቡንቱ የሙዚቃ መተግበሪያ
Comment[ar]=تطبيق موسيقى لأوبونتو
Comment[az]=Ubuntu üçün musiqi tətbiqetməsi.
Comment[be]=Музычнае прыкладанне для Ubuntu
Comment[br]=Ul lenner sonerezh evit Ubuntu
Comment[bs]=Aplikacija za muziku za Ubuntu
Comment[ca]=Una aplicació de música per a l'Ubuntu
Comment[ca@valencia]=Una aplicació de música per a l'Ubuntu
Comment[cs]=Hudební přehrávač pro Ubuntu
Comment[cy]=Ap cerddoriaeth ar gyfer Ubuntu
Comment[da]=Et musikprogram til Ubuntu
Comment[de]=Eine Musikwiedergabe für Ubuntu
Comment[el]=Μια εφαρμογή αναπαραγωγής μουσικής για το Ubuntu
Comment[en_AU]=A music application for Ubuntu
Comment[en_GB]=A music application for Ubuntu
Comment[eo]=Muzika aplikaĵo por Ubuntu
Comment[es]=Aplicación de música para Ubuntu
Comment[eu]=Ubunturako musika-aplikazioa
Comment[fa]=یک نرم‌افزار موسیقی برای اوبونتو
Comment[fi]=Musiikkisovellus Ubuntulle
Comment[fo]=Eitt tónleikaforrit til Ubuntu
Comment[fr]=Un lecteur de musique pour Ubuntu
Comment[fr_CA]=Une application de musique pour Ubuntu
Comment[gd]=Aplacaid ciùil airson Ubuntu
Comment[gl]=Aplicativo de música para Ubuntu
Comment[he]=יישום מוזיקה לאובונטו
Comment[hr]=Glazbena aplikacija za Ubuntu
Comment[hu]=Zenelejátszó az Ubuntuhoz
Comment[id]=Aplikasi musik untuk Ubuntu
Comment[it]=Un'applicazione per la musica di Ubuntu
Comment[ja]=Ubuntuのミュージックアプリ
Comment[km]=កម្មវិធី​ចាក់​តន្ត្រី​សម្រាប់ Ubuntu
Comment[ko]=우분투를 위한 음악 애플리케이션
Comment[ku]=Sepaneke muzîkê ji bo Ubuntuyê
Comment[lv]=Mūzikas lietotne Ubuntu videi
Comment[ms]=Aplikasi muzik untuk Ubuntu
Comment[nb]=Et musikkprogram for Ubuntu
Comment[nl]=Een muziekapp voor Ubuntu
Comment[pa]=ਉਬੰਤੂ ਲਈ ਇੱਕ ਸੰਗੀਤ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Odtwarzacz muzyki dla Ubuntu
Comment[pt]=Uma app de música para Ubuntu
Comment[pt_BR]=Aplicativo de musica para o Ubuntu
Comment[ro]=O aplicație de muzică pentru Ubuntu
Comment[ru]=Музыкальное приложение для Ubuntu
Comment[sc]=Una aplicatzione de mùsica pro Ubuntu
Comment[sk]=Hudobná aplikácia pre Ubuntu
Comment[sl]=Glasbeni program za Ubuntu
Comment[sq]=Një aplikacion për Ubuntu
Comment[sr]=Програм за музику у Убунтуу
Comment[sv]=Ett musikprogram för Ubuntu
Comment[tr]=Ubuntu için müzik uygulaması
Comment[ug]=ئۇبۇنتۇنىڭ مۇزىكا پروگراممىسى
Comment[uk]=Музична програма для Ubuntu
Comment[zh_CN]=Ubuntu 上的音乐应用
Comment[zh_TW]=Ubuntu 的音樂應用程式
Keywords=music;songs;play;tracks;player;tunes;
Keywords[am]=ሙዚቃ;ዘፈኖች;ማጫወቻ;ተረኞች;ማጫወቻዜማ;
Keywords[ar]=موسيقى;أغانى;تشغيل;مقطوعات;مشغل;نغمات;
Keywords[be]=музыка; песні; граць; трэк; прайгравач; мелодыі;
Keywords[br]=sonerezh;tonioù;lenn;tonioù;lennet;tonioù;
Keywords[bs]=muzika;pjesme;pusti;albumi;reproduktor;melodije;
Keywords[ca]=música;cançons;reprodueix;pistes;reproductor;melodies;
Keywords[ca@valencia]=música;cançons;temes;reprodueix;reproducció;peces;àlbums;reproductor;
Keywords[cs]=hudba;skladby;hrát;stopy;přehrávač;melodie;
Keywords[cy]=cerddoriaeth;caneuon;chwarae;traciau;chwaraewr;tonau;
Keywords[da]=musik;sange;numre;afspil;spor;afspiller;melodier;
Keywords[de]=Musik;Titel;Alben;Wiedergabe;Abspielen;
Keywords[el]=μουσική;τραγούδια;αναπαραγωγή;κομμάτια;παίξιμο;μελωδίες;
Keywords[en_AU]=music;songs;play;tracks;player;tunes;
Keywords[en_GB]=music;songs;play;tracks;player;tunes;
Keywords[eo]=muziko;kanzonoj,ludi,trakoj,ludilo,agordoj;
Keywords[es]=música;canciones;reproducir;pistas;reproductor;temas;
Keywords[eu]=musika;abestiak;kantak;kantuak;erreproduzitu;erreproduzitzailea;tonuak;
Keywords[fa]=موسیقی;آهنگ‌ها;پخش;قظعه‌ها;پخش‌کننده;صداها;
Keywords[fi]=music;songs;play;tracks;player;tunes;musiikki;kappaleet;soitin;
Keywords[fo]=tónleikur;sangir;spæl;sangir;spælari;nótar
Keywords[fr]=musique;chansons;lire;morceaux;lecteur;mélodies;
Keywords[fr_CA]=musique;chansons;chanson;lire;piste;pistes;morceau;morceaux;lecteur;toune;tounes;
Keywords[gd]=music;songs;play;tracks;player;tunes;ceòl;ciùil;òran;òrain;cluich;cluiche;traca;tracaichean;cluicheadair;fonn;fuinn;port;puirt;audio;fuaim;
Keywords[gl]=música;cancións;reproducir;pistas;reprodutor;tons;
Keywords[he]=מוזיקה;שירים;נגינה;לנגן;השמעה;נגן;רצועות;מנגינות;
Keywords[hu]=zene;dalok;lejátszás;számok;lejátszó;hangok;
Keywords[id]=musik;lagu;putar;trek;player;tunes;
Keywords[it]=musica;canzoni;play;tracce;player;brani;suonerie;
Keywords[ja]=music;songs;play;tracks;player;tunes;ミュージック;音楽;楽曲;再生;トラック;プレーヤー;
Keywords[km]=តន្ត្រី; បទ​ចម្រៀង; ចាក់; បទ; កម្មវិធី​ចាក់; សូរ​សំឡេង;
Keywords[ko]=음악;노래;재생;트랙;플레이어;음;
Keywords[ku]=muzîl;stran;lêdan;parçe;lêder;tunes;
Keywords[lt]=muzika;dainos;giesmės;daina;giesmė;grotuvas;leistuvė;melodija;melodijos;
Keywords[lv]=mūzika;dziesmas;atskaņot;celiņi;atskaņotājs;
Keywords[ms]=muzik;lagu;main;trek;pemain;nada;
Keywords[nb]=musikk;sanger;spill av;spor;spiller;låter;
Keywords[nl]=muziek;nummers;afspelen;liedjes;speler;deuntjes;
Keywords[pa]=ਸੰਗੀਤ;ਗੀਤ;ਪਲੇ੍;ਗੀਤ;ਪਲੇਅਰ;ਧੁਨਾਂ
Keywords[pl]=muzyka;piosenki;odtwórz;nagrania;odtwarzacz;dźwięki;
Keywords[pt]=música;músicas;reproduzir;faixas;leitor;melodias;
Keywords[pt_BR]=música;músicas;tocar;faixas;player;tons;
Keywords[ro]=muzică;melodie;redare;piste;player;cântece;
Keywords[ru]=музыка;песни;воспроизведение;композиции;плеер;мелодии;
Keywords[sc]=mùsica;cantzones;reprodue;riprodutore;album;
Keywords[sk]=hudba;skladby;hraj;stopy;prehrávač;melódia;
Keywords[sl]=glasba;skladbe;predvajaj;sledi;predvajalnik;melodije;
Keywords[sq]=Musik;Titujë;Albume;Lista dëgjimit;
Keywords[sr]=музика;песме;пуштање;песме;извођење;мелодије;
Keywords[sv]=musik;sånger;spela;spår;spelare;låtar
Keywords[tr]=müzik;şarkılar;oynatma;parçalar;oynatıcı;radyo;
Keywords[ug]=مۇزىكا;ناخشا;قويۇش;نەغمە;قويغۇ;tunes;
Keywords[uk]=music;songs;play;tracks;player;tunes;музика;композиції;пісні;програвач;плеєр;звук;
Keywords[zh_CN]=音乐;歌曲;播放;曲目;播放器;曲调;
Keywords[zh_TW]=音樂;歌曲;播放;曲目;播放器;曲調;
Type=Application
Terminal=false
Exec=qmlscene -qt5 app/music-app.qml --url=%u -I ./plugins
Icon=app/graphics/music-app.svg
StartupNotify=true
X-Ubuntu-Touch=true
X-Ubuntu-Single-Instance=true
X-Ubuntu-Splash-Show-Header=false
X-Ubuntu-Splash-Title=Music
X-Ubuntu-Splash-Title[am]=ሙዚቃ
X-Ubuntu-Splash-Title[ar]=موسيقى
X-Ubuntu-Splash-Title[az]=Musiqi
X-Ubuntu-Splash-Title[be]=Музыка
X-Ubuntu-Splash-Title[bg]=Музика
X-Ubuntu-Splash-Title[br]=Sonerezh
X-Ubuntu-Splash-Title[bs]=Muzika
X-Ubuntu-Splash-Title[ca]=Música
X-Ubuntu-Splash-Title[ca@valencia]=Música
X-Ubuntu-Splash-Title[cs]=Hudba
X-Ubuntu-Splash-Title[cy]=Cerddoriaeth
X-Ubuntu-Splash-Title[da]=Musik
X-Ubuntu-Splash-Title[de]=Musik
X-Ubuntu-Splash-Title[el]=Μουσική
X-Ubuntu-Splash-Title[en_AU]=Music
X-Ubuntu-Splash-Title[en_GB]=Music
X-Ubuntu-Splash-Title[eo]=Muziko
X-Ubuntu-Splash-Title[es]=Música
X-Ubuntu-Splash-Title[eu]=Musika
X-Ubuntu-Splash-Title[fa]=آهنگ
X-Ubuntu-Splash-Title[fi]=Musiikki
X-Ubuntu-Splash-Title[fo]=Tónleikur
X-Ubuntu-Splash-Title[fr]=Musique
X-Ubuntu-Splash-Title[fr_CA]=Musique
X-Ubuntu-Splash-Title[gd]=Ceòl
X-Ubuntu-Splash-Title[gl]=Música
X-Ubuntu-Splash-Title[he]=מוזיקה
X-Ubuntu-Splash-Title[hr]=Glazba
X-Ubuntu-Splash-Title[hu]=Zene
X-Ubuntu-Splash-Title[id]=Musik
X-Ubuntu-Splash-Title[is]=Tónlist
X-Ubuntu-Splash-Title[it]=Musica
X-Ubuntu-Splash-Title[ja]=音楽
X-Ubuntu-Splash-Title[km]=តន្ត្រី
X-Ubuntu-Splash-Title[kn]=ಸಂಗೀತ
X-Ubuntu-Splash-Title[ko]=음악
X-Ubuntu-Splash-Title[ku]=Muzîk
X-Ubuntu-Splash-Title[lt]=Muzika
X-Ubuntu-Splash-Title[lv]=Mūzika
X-Ubuntu-Splash-Title[ms]=Muzik
X-Ubuntu-Splash-Title[my]=ဂီတ
X-Ubuntu-Splash-Title[nb]=Musikk
X-Ubuntu-Splash-Title[nl]=Muziek
X-Ubuntu-Splash-Title[pa]=ਸੰਗੀਤ
X-Ubuntu-Splash-Title[pl]=Muzyka
X-Ubuntu-Splash-Title[pt]=Música
X-Ubuntu-Splash-Title[pt_BR]=Música
X-Ubuntu-Splash-Title[ro]=Muzică
X-Ubuntu-Splash-Title[ru]=Музыка
X-Ubuntu-Splash-Title[sc]=Mùsica
X-Ubuntu-Splash-Title[sk]=Hudba
X-Ubuntu-Splash-Title[sl]=Glasba
X-Ubuntu-Splash-Title[sq]=Muzikë
X-Ubuntu-Splash-Title[sr]=Музика
X-Ubuntu-Splash-Title[st]=Mmino
X-Ubuntu-Splash-Title[sv]=Musik
X-Ubuntu-Splash-Title[ta]=இசை
X-Ubuntu-Splash-Title[te]=సంగీతం
X-Ubuntu-Splash-Title[tr]=Müzik
X-Ubuntu-Splash-Title[ug]=مۇزىكا
X-Ubuntu-Splash-Title[uk]=Музика
X-Ubuntu-Splash-Title[zh_CN]=音乐
X-Ubuntu-Splash-Title[zh_HK]=音樂
X-Ubuntu-Splash-Title[zh_TW]=音樂
X-Ubuntu-Splash-Color=#f03051
X-Ubuntu-Splash-Color-Footer=#F1454E
X-Ubuntu-Splash-Color-Header=#EF2459
X-Ubuntu-Splash-Image=app/graphics/music-app-splash.svg
X-Ubuntu-Default-Department-ID=sound-video
