[Desktop Entry]
Type=Application
Name=Indicator Display
Exec=/usr/lib/arm-linux-gnueabihf/indicator-display/indicator-display-service
OnlyShowIn=Unity;GNOME;
NoDisplay=true
StartupNotify=false
Terminal=false
AutostartCondition=GNOME3 unless-session gnome
X-Ubuntu-Gettext-Domain=indicator-display
